<div class="header" [ngClass]="this.fonticonenable ?'open':'close'">
<div class="name" ><h2>S.Sivakumar</h2>
    <div class="header-icon" (click)="enable()">
        <i  [ngClass]="this.fonticonenable ? ['fa','fa-times'] : ['fa','fa-bars'] "></i>
    </div>
 
</div>
<div class="header-menus">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="Carrier">Carrier</a></li>
        <li><a href="Contact">Contact</a></li>
    </ul>
</div>

</div>