<div class="main" id="aboutsection">
    <div class="about">
       
        <div class="about-img">
            <div class="about-img-box">
                
                   <img class="Developer-img" src="assets/siva.jpg">
        
                
            </div>
    
        </div> 
        <div class="content">
            <h3>About me</h3>
            <br/>
            <p class="m-2 Intro-para"> 
                Hi, I’m Sivakumar. I specialize in creating dynamic and responsive web applications that not only meet client requirements but also ensure user satisfaction.</p>
             <div class="tab-titles ">
                <p class="tab-links about-active" (click)="aboutCategorySelection($event,1)">Skills</p>
                <p class="tab-links" (click)="aboutCategorySelection($event,2)">Experience</p>
                <p class="tab-links" (click)="aboutCategorySelection($event,3)">Education</p>
                <p class="tab-links" (click)="aboutCategorySelection($event,4)">Projects</p>
             </div>

             <div class="content-list">
                 <div class="skills" *ngIf="skills">
                    <div>
                        <p>Time management</p>
                    <div class="progress" style="width: 50%; height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="70" style="width:100%">
                          
                        </div>
                      </div>
                    </div>

                    <div style="margin-top: 2%;">
                        <p>Logical thinking</p>
                    <div class="progress" style="width: 50%; height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="70" style="width:90%">
                          
                        </div>
                      </div>
                    </div>

                    <div style="margin-top: 2%;">
                        <p>problem solving</p>
                    <div class="progress" style="width: 50%; height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="70" style="width:70%">
                          
                        </div>
                      </div>
                    </div>
                    <div style="margin-top: 2%;">
                        <p>Angular</p>
                    <div class="progress" style="width: 50%; height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="70" style="width:70%">
                          
                        </div>
                      </div>
                    </div>
                    <div style="margin-top: 2%;">
                        <p>Git</p>
                    <div class="progress" style="width: 50%; height: 6px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="70" style="width:70%">
                          
                        </div>
                      </div>
                    </div>
                 </div>
                 <div class="experience" *ngIf="experience">
                    
<p>I have over two years of experience with the Angular framework at Revolution Games India Private Limited. <b>[Nov-2022 to Dec-2024] </b></p>
 <ul>
    <li>Expertise in Angular ,Life Cycle Hooks , CLI, Routing , Subjects</li>
    <li>Experienced in integrating API with Front-end Framework</li>
    <li>Skilled in performing optimization and debugging using native
        browser developer tools</li>
    <li>Basic knowledge of SQL Queries</li>
    <li>Understanding the basics of writing cases in a Spec file</li>
    <li>Excellent Communication and team work skills</li>
    <li>Attended daily status meeting with develpoment and management
        team</li>
 </ul>

</div>
                 <div class="education" *ngIf="education">
                   <p> I completed my 10th grade at Sri Sankara vidhyalaya School, pursued my higher secondary education at Sri Ahobila Oriental School, and earned my undergraduate degree from Agurchand Manmull Jain College. </p>
                <table>
                    <thead>
                        <th>Education</th>
                        <th>Institution and year of passing</th>
                        <th>Percentage</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bsc cs</td>
                            <td>Agurchand Manmull Jain College [2019-2022]</td>
                            <td>83%</td>
                        </tr>
                        <tr>
                            <td>12th</td>
                            <td>Sri Ahobila Math Oriental School [2019]</td>
                            <td>71%</td>
                        </tr>
                        <tr>
                            <td>10th</td>
                            <td>Sri Sankara Vidhyalaya high Sec School [2017]</td>
                            <td>86%</td>
                        </tr>
                    </tbody>
                </table>
                
                </div>
                 <div class="project" *ngIf="projects">
                   <h5>Plannotate 3</h5>
                   <ul>
                    <li>It is a drawing based civil application, that enables user to draw ,plotting annotation , attaching forms and images to the annotations</li>
                    <li>Main aim of this application is to draw or plot the annotation on theimages that wherever we can find the defect in the building or tunnel inthe image</li>
                    <li>It is an US client based application, Client : WJE [Wiss Janney Elstner]</li>
                   </ul>
                   <h5>RG-workspace</h5>
                   <ul>
                    <li>It is an employee tracking based application , It helps employee to
                        apply leaves , permission and tracks the employee’s productivity
                        hours</li>
                    <li>Reported person can approve the leave or permission for employees
                        whose under to the reported person</li>
                    
                   </ul>
                 </div>
             </div>
          
        </div> 
       </div> 
</div>
