


.about{
    display: flex;
    height: 100%;
    
}
 .content{
    padding-top: 10%;
   padding-left: 5%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
.Intro-para{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: normal;
  
}
.about-img{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(10px);
}

.about-img-box{
    position: relative;
    height: 55%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #060c21;  
 
}

.about-img-box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    background: #fff;;
    bottom: -2px;
    z-index: -1;
}

.about-img-box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    background: #fff;;
    bottom: -2px;
    z-index: -1;
    filter: blur(50px);
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.Developer-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
table{
    width: 90%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th,td{
    padding:15px ;
}
.tab-titles{
    display: flex;
    margin: 15px 0 0;
    margin-left: 25px;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #ff004f;
    left: 0;
    bottom: -8px;
    transition: 1s;
}

.tab-links.about-active::after{
    width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.content-list{
    height: 380px;
    width: 95%;
    overflow: scroll;
    font-size: 14px;
 padding-top: 5%;
 padding-left: 8%;
 padding-right: 2%;
 padding-bottom: 2%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    transform: translateZ(1px);
    background: #f5cdcd;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  
}
/* img{
    height: 100%;
    width: 100%;
    position: absolute;
  
} */

 .btn{
    background: transparent;
    color: white;
    border-radius: 27px;
    height: 7%;
    width: 25%;
    border: 1px solid white;
 }

  
.m-1{
    margin-top: 5%;
}
.m-2{
    margin-top: 10%;
}
.m-3{
    margin-top: 15%;
}
.commonstyle{
    font-weight: bolder;
    color: palevioletred;
}

.commonstyle1{
    font-weight: bolder;
    color: blanchedalmond;
}
.skills-section{
display: grid;
grid-template-columns: 200px 200px;
gap: 15px;
}
.skill{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 4px -6px rgba(0, 0, 0, 0.75);
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
    width: 95%;
    background: #fca2a2;
    height: 145px;
    border-radius: 20px;
}
.skill-logo{
    height: 79px;
    width: 71px;
}
@media (max-width: 1024px){
    .about-img-box{
     height: 244px;   
    }
}

@media (max-width: 800px){
    
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        width: 100%;
    }
    .content{
        width: 100%;
   
    }
    .about-img-box{
        height: 251px;
        width: 30%;
    }
    .tab-titles{
        padding-left: 5%;
    }
}

@media (max-width:450px){
    .about-img-box{
        height: 200px;
        width: 50%;
    }


}
.animx{
    opacity: 0;
    transform: translateX(-120px);
    animation: moveleft 1s linear forwards;
}
 @keyframes moveleft{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
 }

 .anim-x{
    opacity: 0;
    transform: translateX(120px);
    animation: moveright 1s linear forwards;
}
 @keyframes moveright{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
 }

