<div class="contact-page">
   <div class="title">
    <h4>Contact </h4>
   </div>
<div class="contact-bar">
   <div class="contact-source">
 
<h3>Lets's get in touch</h3>

<div class="contact-platform">
   <div class="mail">
      <div class="mail-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
<div class="mail-name">{{mail}}</div>     
      
   </div>
   
   <div class="phone">
      <div class="phone-icon">
         <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div class="number">
         8939014386
      </div>
     
   </div>
</div>


</div>
<div class="contact-form">
<form action="#">

   <div class="inputbox">
      <input type="email" class="textbox" placeholder="Email">
   </div>
   
   <div class="inputbox1">
      <textarea class="textarea" placeholder="Enter a message  to Get started"></textarea>   
   </div>
    
   

   <button type="button" class="btn">Submit</button>
</form>
</div>
</div>
</div>
