.contact-page{
    height: 100vh;
}

.title{
    text-align: center;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.phone{
    display: flex;
    align-items: center;
    
    color: white;
    width: 100%;
}
.mail-name{
    margin-left: 5%;
}
.number{
margin-left: 5%;
}
.contact-bar{
    height: 100%;
    display: flex;
}
.contact-platform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    
}
.contact-source{
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
     width: 50%;
     height: 100%;
     padding-top: 5%;
}

.mailname{
    padding-top: 2%;
}

.contact-form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 50%;
height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    /* background: green; */
    height: 45%;
    margin-top: 10%;
 }

.contact-form .inputbox{
    width: 100%;
}
input , textarea{
    width: 100%;
    color:white
}
.inputbox{
    border: 1px solid white;
    background: transparent;
    border-radius: 17px;
    padding: 1.5%;
}
.textbox{
   border: none;
   outline: none;
   background: transparent;
}

.inputbox{
    border: 1px solid white;
    background: transparent;
    border-radius: 17px;
    padding: 2.5%;
}
.inputbox1{
    width: 100%;
}
.textarea{
    border: 1px solid white;
    background: transparent;
    border-radius: 11px;
    height: 120px;
    width: 100%;
    padding-left: 15px;
    padding-top: 2px;
}

.btn{
    color: white;
    border: 1px solid white;
    width: 40%;
    border-radius: 20px;
    cursor: pointer;
    /* border-radius: ; */
}

.btn:hover{
    cursor: pointer;
    background: green;
}
::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
  }
  @media (max-width:1026){
    
   form{
    width: 70%;
    height: 52%;
   }
}

  @media (max-width: 770px){
    .contact-page{
        margin-top: 50%;
    }

    .contact-bar{
        flex-direction: column;
        align-items: center;
    }
    .contact-form{
        width: 100%;
        flex-direction: row;
    }
 
    form{
        width: 58%;
        height: 94%;
    }
  }
  @media(max-width:448px){
    form{
        width: 90%;
        height: 100%;
    }
  }





