
<section id="Contact">
   <div class="contact-page"  id="contact-section">
      <div class="title">
       <h4>Contact </h4>
      </div>
   <div class="contact-bar" [class.zoom]="isscrolled">
      <div class="contact-source">
    
   <h3>Let's get in touch</h3>
   
   <div class="contact-platform">
      <div class="mail">
         <div class="mail-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
   <div class="mail-name" (click)="navigateto()" >{{mail}}</div>     
         
      </div>
      
      <div class="phone">
         <div class="phone-icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
         </div>
         <div class="number">
            8939014386
         </div>
        
      </div>
   </div>
   
   
   </div>
   <div class="contact-form">
      <div class="form-detail" >
         
            
         
         <form action="#" (submit)="sendEmail($event)">
   
         
            <div class="inputbox" style="display: flex;">
            
               <input type="email" name="from_name" class="textbox" placeholder="Email">
            </div>
            
            <div class="inputbox1">
               <textarea class="textarea" name="message" placeholder="Enter a message  to Get started"></textarea>   
            </div>
             
            
         
            <button type="submit" class="btn1">Submit</button>
            <p *ngIf="content" style="color: green;">**Email Sent Successfully**</p>
         </form>
      </div>
   
   </div>
   </div>
   </div>
</section>