
<section id="Rewards">
    <div class="rewards-main">
        <div class="heading">  <h2>Best Employee Awards</h2></div>
        <p>Recipient of 'Employee of the Month' Award – <span>November 2023</span> and <span>January 2024</span>, recognized for exceptional performance, dedication, and contributions to the team; honored with a cash prize.</p>
      <div class="img-container">
        <div class="img"><img src="assets/Best1.jpeg"></div>
        <div class="img"> <img src="assets/Best2.jpeg"></div>
       
      </div>
    </div>
</section>