<section id="Carrier">
    <div class="career-main">
        <div class="heading"><h2>Careers</h2></div>
<div class="career-content">
    <div class="project" [class.leftslide]="isscrolled"> 
        <div class="heading"><h4>My Projects</h4></div>

<div class="career-section">

      <div class="career-container">
        <div class="slider-wrapper">
            <div class="career-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
                <div class="career-list" *ngFor="let item of items">
                    <div class="img-container">
        <img [src]="item.img">
                    </div>
                    <h4 style="margin-top: 2%; color: orangered; font-weight: bold; font-style: italic;">{{item.heading}}</h4>
                    <div class="img-content">
<ul>
    <li *ngFor="let item1 of item.content">{{item1}}</li>
</ul>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="arrow">
            <button (click)="prev()"><i class="fa fa-arrow-left" ></i></button>
            <button (click)="next()"> <i class="fa fa-arrow-right"></i></button>
            
           
            
        </div>
        
        
      </div>
      
      <!-- <div class="slider-controls">
        <button (click)="prev()">Prev</button>
        <button (click)="next()">Next</button>
      </div> -->
      
</div>

</div>
    <div class="skills" [class.rightslide]="isscrolled">
    <div class="heading"><h4>My Skills</h4>   
    </div>
<div class="skill-card-section">
    <div class="skill-card1">
        <h5>Frontend</h5>
       
            <div class="progress1">
                <h6><span>Html </span><span>90%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6><span>Css </span> <span>80%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6><span>Javascript <i class="fa fa-js"></i></span><span>50%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Typescript <span>70%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Angular <span>100%</span></h6>
            <div class="bar"><span></span></div>
            </div>
        
 
    </div>
    <div class="skill-card2">
        <h5>Backend</h5>
        <div class="progress1">
            <h6>Node js <span>44%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Mysql <span>60%</span></h6>
        <div class="bar"><span></span></div>
        </div>
    </div>

    <div class="skill-card3">
        <h5>Other tools</h5>
        <div class="progress1">
            <h6>Github <span>94%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Visual studio code <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Jira <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Mysql Workbench <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
    </div>
</div>

</div>
    
</div>
    </div>

</section>
