<section id="Carrier">
    <div class="career-main">
        <div class="heading"><h2>Careers</h2></div>
<div class="career-content">
    <div class="project"> <div class="heading"><h4>My Projects</h4></div></div>
    <div class="skills">
    <div class="heading"><h4>My Skills</h4>   
    </div>
<div class="skill-card-section">
    <div class="skill-card1">
        <h5>Frontend</h5>
       
            <div class="progress1">
                <h6>Html <span>90%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Css <span>80%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Javascript <span>50%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Typescript <span>70%</span></h6>
            <div class="bar"><span></span></div>
            </div>
            <div class="progress1">
                <h6>Angular <span>100%</span></h6>
            <div class="bar"><span></span></div>
            </div>
        
 
    </div>
    <div class="skill-card2">
        <h5>Backend</h5>
        <div class="progress1">
            <h6>Node js <span>44%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Mysql <span>60%</span></h6>
        <div class="bar"><span></span></div>
        </div>
    </div>

    <div class="skill-card3">
        <h5>Other tools</h5>
        <div class="progress1">
            <h6>Github <span>94%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Visual studio code <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Jira <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
        <div class="progress1">
            <h6>Mysql Workbench <span>90%</span></h6>
        <div class="bar"><span></span></div>
        </div>
    </div>
</div>

</div>
    
</div>
    </div>

</section>
