.career-main{
    min-height: 100vh;
    /* margin-top: 15%; */
    padding-top: 5%;
}

.heading h2, .heading h4{
    color: #007bff;
    text-align: center;
}
.heading h2{
  font-weight: bold;
}
.heading h4{
  text-decoration: underline;
}
.career-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.career-section{
    
}
.project{
    width: 50%;
    height: 100%;
}
.skills{
    width: 50%;
    height: 100%;
}
.skill-card-section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    padding-top: 10%;
    gap: 10%;
    padding-right: 5%;
}
.skill-card1, .skill-card2, .skill-card3{
    width: 100%;
    height: auto;
    background: #e6e6e6;
    /* background: #f8f9fa; */
    border-radius: 10px;
  
}

.progress1{
    padding: 1rem 0;
}

h6{
 
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 14%;
}

.progress1 .bar{
    height: 5px;
    border-radius: .6rem;
    border: 1px solid black;
    padding: 4px;
    position: relative;
    width: 80%;
    margin-left: 14%;
}


.progress1 .bar span{
    position: absolute;
    display: block;
    /* height: 100%; */
    padding: 2px;
    bottom: 2px;
    border-radius: 2px;
   
}
.skill-card1 .progress1 .bar span{
    background: #ff004f;
}
.skill-card2 .progress1 .bar span{
    background: goldenrod;
}
.skill-card3 .progress1 .bar span{
    background: blueviolet;
}

.skill-card1 h5 , .skill-card2 h5, .skill-card3 h5{
    text-decoration: underline;
    margin-left: 30%;
}
.skill-card1 h5{
  color: red;
}
.skill-card2 h5{
  color: darkgoldenrod;
}
.skill-card3 h5{
  color: darkblue;
}
.skill-card1 .progress1:nth-of-type(1) .bar span {
    /* First progress bar (HTML) */
    width: 90%;
    
  }
.skill-card1 .progress1:nth-of-type(2) .bar span {
    /* First progress bar (HTML) */
    width: 80%;
  }
.skill-card1 .progress1:nth-of-type(3) .bar span {
    /* First progress bar (HTML) */
    width: 50%;
  }
.skill-card1 .progress1:nth-of-type(4) .bar span {
    /* First progress bar (HTML) */
    width: 70%;
  }
.skill-card1 .progress1:nth-of-type(5) .bar span {
    /* First progress bar (HTML) */
    width: 95%;
  }

  .skill-card2 .progress1:nth-of-type(1) .bar span {
    /* First progress bar (HTML) */
    width: 45%;
  }
  .skill-card2 .progress1:nth-of-type(2) .bar span {
    /* First progress bar (HTML) */
    width: 60%;
  }

  .skill-card3 .progress1:nth-of-type(1) .bar span {
    /* First progress bar (HTML) */
    width: 94%;
  }
  .skill-card3 .progress1:nth-of-type(2) .bar span {
    /* First progress bar (HTML) */
    width: 90%;
  }
  .skill-card3 .progress1:nth-of-type(3) .bar span {
    /* First progress bar (HTML) */
    width: 90%;
  }
  .skill-card3 .progress1:nth-of-type(4) .bar span {
    /* First progress bar (HTML) */
    width: 90%;
  }

  /* .slider-wrapper {
    width: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: auto;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.4s ease;
  }
  
  .slider-item {
    min-width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #f0f0f0;
    font-size: 1.5rem;
  } */

  .career-container {
   height: 700px;
    max-width: 500px;
    margin: auto;
    background: #e6e6e6;
    position: relative;
    margin-top: 10%;
    border-radius: 10px;
  }
  
  .slider-wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  
  .career-track {
    height: 100%;
    display: flex;
    transition: transform 0.4s ease;
  }
  
  .career-list {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
  .img-container{
    height: 50%;
    width: 100%;
  }
  .img-container img {
  height: 100%;
  width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .img-content {
    margin-top: 60px;
    font-size: 1.1rem;
  }
  .arrow{
    position: absolute;
    top: 52%;
    display: flex;
    left: 4%;
    width: 92%;
    justify-content: space-between;
  }
  .arrow button{
    border-radius: 22px;
    padding: 5px;
    border: none;
    outline: none;
    background: red;
    color: white;
    cursor: pointer;
  }
  .img-content{
    font-size: 14px;
  }
  .img-content ul li{
    text-align: start;
  }

  
  

  @media (max-width:600px){
    .career-main{
        margin-top: 25%;
    }
    .img-content{
      font-size: 12px;
    }
    .career-container{
      height: 752px;
    }
    .career-content{
      display: flex;
      flex-direction: column;
  }
  .project{
    margin-top: 5%;
    width: 100%;
  }
  .skills{
    margin-top: 5%;
    width: 100%;
  }
  .skill-card-section{
  padding-left: 5%;
    grid-template-columns: 90%;
   
}
  }