/* You can add global styles to this file, and also import other style files */
body{
    background: #212121;
}
.btn{
cursor: pointer;
}

.anim{
    opacity: 0;
    transform: translateY(60px);
    animation: move 0.5s linear forwards;
}

@keyframes move{
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
}

