/* You can add global styles to this file, and also import other style files */

.btn{
cursor: pointer;
}
section{
    /* background: rgb(242, 237, 242); */
    background: #181C21;
    position: relative;
    
    /* height: 100%; */
}



.anim{
    opacity: 0;
    transform: translateY(60px);
    animation: move 1s linear forwards;
}

@keyframes move{
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
}

