
<div class="main">
    <div class="home">
    <div class="content">
        <h5 > Hi I'm </h5>
        <h1 class="m-2 commonstyle1"> S.Sivakumar </h1>
        <p class="m-2"> I am a Professional <span class="commonstyle">Web Developer </span></p>
        <p class="m-2"> 2+ years of <span class="commonstyle">Experience </span></p>
        <button class="btn m-2">Download CV</button>
    </div>
    <div class="img">
        <div class="img-box">
            <div class="img-content">
                <img src="/assets/Developer.png" alt="">
            </div>
            
        </div>

    </div>  
   </div>

</div>
<app-about id="about" ></app-about>
<app-contact id="Contact" ></app-contact>