
<div class="home-content">
<div class="main anim">
    <div class="home">
        
    <div class="content">
        <h5 > Hi I'm </h5>
        
        <h1 class="m-2 commonstyle1"> S.Sivakumar </h1>
        <p class="m-2"> I am a Professional <span class="commonstyle">Web Developer </span></p>
        <p class="m-2"> 2+ years of <span class="commonstyle">Experience </span></p>
       <a class="btn m-2" href="assets/Siva_resume.pdf" download="Resume">Download CV</a>
      <div class="social-media">
        
        <div class="media"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
        <div class="media"><i class="fa fa-github" aria-hidden="true"></i></div>
       
      </div>
    
</div>
    <div class="img">
        <div class="img-box">
            <div class="img-content">
                <img src="assets/Developer.png" alt="">
            </div>
            
        </div>

    </div>  
    
   </div>

</div>
<div class="about-page">
    <app-about id="about" ></app-about>
</div>
<div class="contact-page1">
    <app-contact id="Contact" ></app-contact>
</div>
</div>
