<div class="main">
    <div class="content">
        <p class="c1">Hi I am </p>
        <p class="name">S.Sivakumar</p>
        <p class="c2">I am a Professional <span>web Developer </span> </p>
        <p class="c3">2+ Years of Experience</p>
        <div class="btn">
           
            <a href="mailto:ssivakumar.dev@gmail.com" target="_blank" rel="noopener noreferrer" class="hire-btn btn1">Hire me</a>
            <a href="assets/Siva_resume.pdf" class="resume-btn btn1" download="">Download CV</a>
         
        </div>

        <div class="social-media">
        
            <div class="media" (click)="navigate(1)"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            <div class="media" (click)="navigate(2)"><i class="fa fa-github" aria-hidden="true"></i></div>
           
          </div>
    </div>
</div>